# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/
.venv/

# Node
node_modules/
dist/
.npm
build/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Project specifics
models/*
!models/.gitkeep
dataset/*
!dataset/.gitkeep
outputs/*
!outputs/.gitkeep
*.sqlite3
*.db

# Virtual Envs
.venv-yolo/
.pytest_cache/
yolo11n.pt
runs/detect/val-*/
runs/detect/val[0-9]*/
scans_history.csv
